@charset 'UTF-8';

/////// Global-Class ///////
ul {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

.thumb {
  img {
    width: 100%;
    height: auto;
  }
}

a {
  text-decoration: none !important;
}

body {
  background-image: url(../img/BG.png);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.item-mobile {
  display: none;
}

.style-header {
  color: #084386;
}

.style-color-text {
  color: #3173bf;
}

.content-banner {
  margin: 5.5rem 0 2rem;
  overflow: hidden;
}

.package-main {
  .content-package {
    text-align: center;
  }

  .card-section-package {
    overflow: hidden;

    .card-width-package {
      .card-content-package {
        margin: 2rem 0;
        border-radius: 10px;
        overflow: hidden;
        .card {
          background-color: transparent;
          border: none;
        }
        .card-header {
          padding: 0;
          border: none;
          background-color: transparent;
        }
        .card-content-popular {
          padding: 1rem;
          margin: 2px;
          border-radius: 0 0 8px 8px;
          background: #ffffff;
        }
        .package-head {
          font-weight: 700;
          font-size: 18px;
        }

        .price-package {
          font-size: 28px;
          font-weight: 700;
        }

        .package-list-promotion {
          display: flex;
          margin: 0.25rem 0;

          img {
            width: 20px;
            margin-right: 12px;
          }
        }

        .button-buy-package {
          background-color: #3275a5;
          color: white;
          border-radius: 10px;
          margin: 0.5rem auto 0;
          padding: 0.25rem;
          width: 150px;
        }
      }
    }
  }

  .popular-package {
    position: absolute;
    bottom: 0;
    height: 100vw;
    width: 100%;
    border: none;
    z-index: -1;
    padding: 0 0rem 1.5rem !important;
    background-color: #0085e4;
  }
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.promotion-main {
  margin: 2rem;
  display: flex;

  .container {
    overflow: hidden;

    .content-promotion {
      // display: flex;
      // width: 25%;
    }
  }
}

.example-main {
  background-color: rgba(255, 255, 255, 0.521);
  text-align: center;
  padding: 1.5rem 0;

  .swiper-example {
    overflow: hidden;
  }
}

.slider-wrapper-main {
  margin: 3rem 0;
  position: relative;
  z-index: 1;

  .pagi-custom-wrap {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    transition: all 0.2s ease;

    .item-pagi {
      width: 10px;
      height: 10px;
      display: block;
      margin: 0 0 8px;
      content: "";
      background: #d0d0d0;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .active {
      height: 30px;
      border-radius: 30px;
      background: #084386;
      transition: all 0.2s ease;
    }
  }

  .flex-slide-wrapp {
    .item-caption-slide {
      width: 55%;

      .title-blog-flex {
        margin-left: 40px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;

        p {
          padding: 15px 30px;
          width: 100%;
          cursor: pointer;
          font-size: 1rem;
        }
      }

      .title-slide {
        display: inline-block;
      }

      .active {
        font-weight: 700;
        color: #084386;
        flex-shrink: 0;
        background: linear-gradient(
          90deg,
          #fff 0%,
          #c5e0ff 53.6%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }

    .item-slide-swiper {
      width: 45%;
    }
  }
}

.swiper-example {
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.content-banner {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-tel {
  .swiper-slide {
    img {
      width: 100%;
      height: auto;
    }
  }

  .swiper-slide-active {
    transform: scale(0.6) !important;
  }

  .swiper-slide {
    transform: scale(0.6) !important;
  }

  .swiper-slide-prev {
    transform: translate3d(70%, 0px, -200px) rotateX(0deg) rotateY(0deg)
      scale(0.55) !important;
  }

  .swiper-slide-next {
    transform: translate3d(-70%, 0px, -200px) rotateX(0deg) rotateY(0deg)
      scale(0.55) !important;
  }
}

.slide-exam-mobile {
  .swiper-exam {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .caption-slide-wrapper {
      p {
        margin: 12px 0 0;
        font-size: 0.8rem;
        display: none;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .swiper-slide-active {
    .caption-slide-wrapper {
      p {
        display: block;
      }
    }
  }
}

.pagi-custom-wrap-mobile {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;

  .item-pagi-mobile {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dedede;
    margin: 0 2px;
    transition: all 0.2s ease;
  }

  .active {
    width: 30px;
    border-radius: 30px;
    background: #084386;
    transition: all 0.2s ease;
  }
}

.flex-slide-wrapp {
  margin: -12rem 0;
}

.package-interesting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  background-color: #0085e4;
  border-radius: 4px 4px 0 0;
  padding: 0.5rem;

  img {
    margin: 0 0.5rem;
    width: 30px;
  }

  p {
    color: white;
    font-weight: 500;
  }
}
