@charset 'UTF-8';

header {
    position: relative;

    .header-main {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.5rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: rgb(255 255 255 / 94%);

        .header-left {
            display: flex;
            align-items: center;
            .icon-header {
                width: 60px;
            }
            p{
                margin: 0 0.5rem ;
            }
        }

        .header-right {
            display: flex;
            align-items: center;

            a {
                margin: 0 5px;
                color: #3173BF;
            }
        }
    }

}